.wp-block-hm-popup {
	top: 100%;
	opacity: 0;
	transition:
		opacity 150ms linear,
		top 0s linear 150ms,
		left 0s linear 150ms,
		right 0s linear 150ms,
		overlay 150ms linear allow-discrete,
		display 150ms linear allow-discrete;
	align-items: center;
	overflow: auto;
	z-index: 200;
	box-sizing: border-box;
	max-width: 100vw;
	max-height: 100vh;
	width: 100vw;
	height: 100vh;
	border: 0;
	background: none;
	padding: 5vh 5vw;
	margin: 0 auto;
	margin-block-start: 0 !important;
	margin-block-end: 0 !important;

	&.is-style-side--left,
	&.is-style-side--right {
		padding: 0;
	}

	&[open] {
		top: 0;
		opacity: 1;
	}

	&[open].is-style-side--left {
		right: 0;
	}

	&[open].is-style-side--right {
		left: 0;
	}

	> * {
		max-width: var(--wp--style--global--content-size, 680px);
		position: relative;
		z-index: 2;
		width: 100%;
		background-color: rgb(255, 255, 255);
		margin-block-start: 0 !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	&.is-style-side--left > *,
	&.is-style-side--right > * {
		height: 100%;
		overflow: auto;
	}

	&.is-style-side--left > * {
		margin-left: 0 !important;
	}

	&.is-style-side--right > * {
		margin-right: 0 !important;
	}
}

/* Before-open state */

/* Needs to be after the previous dialog[open] rule to take effect,
    as the specificity is the same */
@starting-style {

	.wp-block-hm-popup[open] {
		opacity: 0;
		top: 100%;
	}

	.wp-block-hm-popup[open].is-style-side--left {
		top: 0;
		bottom: 0;
		right: 100%;
	}

	.wp-block-hm-popup[open].is-style-side--right {
		top: 0;
		bottom: 0;
		left: 100%;
	}
}

/* Transition the :backdrop when the dialog modal is promoted to
  the top layer */
.wp-block-hm-popup::backdrop {
	background-color: rgba(0, 0, 0, 0%);
	transition:
		display 150ms allow-discrete,
		overlay 150ms allow-discrete,
		background-color 150ms;
}

.wp-block-hm-popup[open]::backdrop {
	background-color: rgba(0, 0, 0, 75%);
}

/* This starting-style rule cannot be nested inside the above selector
  because the nesting selector cannot represent pseudo-elements. */
@starting-style {

	.wp-block-hm-popup[open]::backdrop {
		background-color: rgba(0, 0, 0, 0%);
	}
}
