name: Production Build & Release

on:
    push:
        branches:
            - main

concurrency:
    group: ${{ github.workflow }}-${{ github.ref_name }}
    cancel-in-progress: true

jobs:
    release:
        name: 'Update release branch'
        runs-on: ubuntu-latest
        steps:
            - name: Check out project
              uses: actions/checkout@v5

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: 'npm'

            - name: Merge and build
              uses: humanmade/hm-github-actions/.github/actions/build-to-release-branch@04c32a93e52ae987095f144105745a501d6207c8
              with:
                  source_branch: main
                  release_branch: release
                  built_asset_paths: build
                  build_script: |
                      npm i
                      npm run build
