name: PR Playground Preview

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
            - edited

permissions:
    contents: write
    pull-requests: write

jobs:
    preview:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: '24'
                  cache: 'npm'

            - name: Install dependencies
              run: npm i

            - name: Update version placeholder
              run: |
                  sed -i "s/__VERSION__/Pull Request #${{ github.event.pull_request.number }} - ${{ github.event.pull_request.title }}/g" popup.php

            - name: Build
              run: npm run build

            - name: Push built files to PR branch
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"
                  git checkout -B pr-${{ github.event.pull_request.number }}-built
                  git add -f build/
                  git add popup.php
                  git commit -m "Build for PR #${{ github.event.pull_request.number }} - ${{ github.sha }}"
                  git push origin pr-${{ github.event.pull_request.number }}-built --force

            - name: Create preview blueprint
              id: blueprint
              run: |
                  BLUEPRINT=$(cat <<'EOF'
                  {
                    "landingPage": "/wp-admin/site-editor.php",
                    "login": true,
                    "steps": [
                      {
                        "step": "installTheme",
                        "themeData": {
                          "resource": "wordpress.org/themes",
                          "slug": "twentytwentyfive"
                        },
                        "options": {
                          "activate": true
                        }
                      },
                      {
                        "step": "installPlugin",
                        "pluginZipFile": {
                          "resource": "url",
                          "url": "https://github-proxy.com/proxy/?repo=${{ github.repository }}&branch=pr-${{ github.event.pull_request.number }}-built"
                        }
                      }
                    ]
                  }
                  EOF
                  )
                  echo "blueprint=$(echo $BLUEPRINT | jq -c .)" >> $GITHUB_OUTPUT

            - name: Add Playground preview
              uses: WordPress/action-wp-playground-pr-preview@v2
              with:
                  blueprint: ${{ steps.blueprint.outputs.blueprint }}
                  github-token: ${{ secrets.GITHUB_TOKEN }}
